#hover-bg {
  position: absolute;
  z-index: -1;
  border-radius: 0.5rem;
  background: var(--bg-selection);
  transition: all 0.4s ease;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
}
