@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #f2e0db;
  --blue: #2e425f;
  --black: #314966;
  --bg-1: #dadfe3;
  --bg-2: #d9dee4;
  --text: var(--black);
  --title: #2e425f;
  --title-light: #263751;
  --bg-selection: rgba(165, 182, 191, 0.4);
  --icon: var(--title);
}

@media (prefers-color-scheme: dark) {
  :root {
    --title: #6a8f7e;
    --title-light: #587362;
    --icon: var(--title);
    --blue: var(--title);
    --black: #423e37;
    --bg-1: #2c2c2c;
    --bg-2: #1a1a1a;
    --text: #cccccc;
    --bg-selection: rgba(68, 68, 68, 0.5);
  }
}

body {
  background: linear-gradient(to top, var(--bg-1), var(--bg-2));
  color: var(--text);
  font-family: "Roboto mono", monospace;
}

::selection {
  color: var(--white);
  background: var(--title);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
  }
  h1 {
    @apply: text-5xl font-bold;
  }

  h2 {
    @apply: text-4xl font-bold;
  }

  h3 {
    @apply text-3xl font-bold;
  }

  h4 {
    @apply text-2xl font-bold;
  }
  h5 {
    @apply text-xl font-bold;
  }

  h6 {
    @apply text-lg;
  }

  ul {
    /* @apply *:before:content-['▷'] *:before:mr-2 *:mt-2 *:text-justify; */
  }

  .hover-list-item-vertical {
    @apply mt-2 text-justify before:mr-2 before:content-['▷'];
  }

  .test-hover-item {
    @apply bg-black text-white;
  }

  .main-grid {
    display: grid;
    /* gap: 1.5rem; */
    grid-template-areas:
      "about"
      "experience"
      "projects"
      "expertise"
      "empty"
      "education"
      "certificates";

    /* padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto; */
  }

  .main-grid section:nth-child(1) {
    grid-area: about;
  }
  .main-grid section:nth-child(2) {
    grid-area: experience;
  }
  .main-grid section:nth-child(3) {
    grid-area: projects;
  }
  .main-grid section:nth-child(4) {
    grid-area: expertise;
  }
  .main-grid section:nth-child(5) {
    grid-area: certificates;
  }
  .main-grid section:nth-child(6) {
    grid-area: education;
  }

  /* Equals to tailwind md */
  @media (min-width: 768px) {
    .main-grid {
      grid-template-columns: 1fr 3fr;
      grid-template-areas:
        "education about"
        "expertise experience"
        "certificates projects";
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 45%;
  }

  .skeleton {
    background-color: var(--bg-2);
    background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 60%
      )
      var(--bg-2);
    background-size: 200% 100%;
    background-position-x: 180%;
  }
}
